@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.btn-first{
    padding: 0.3rem 2rem !important;
    background-color: #404040;
    color: #FFF !important;
    cursor: pointer;
}
.banner{
    background-image: url('../images/banner-1.webp'), linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7));
    background-blend-mode: overlay;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.icon{
    width: 1.5rem;
    height: 1.3rem;
}
.color-secondary{
    color: #868686;
    font-weight: bold;
}
.secondary-bg{
    background-color: #404040;
}